a {
  text-decoration: none;
  color: #fff;
}

a.user-signup {
  color: #2155cd;
}

.alert {
  position: absolute;
  left: 43%;
  visibility: hidden;
}

.alert-on {
  position: absolute;
  left: 68.5%;
  top: 1.5rem;
  visibility: visible;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.brand {
  position: relative;
  top: 1rem;
  left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.brand:hover {
  color: #fff;
}

.btn {
  border-radius: 1.5rem;
}

.btn-login {
  margin-top: 5rem;
}

.carousel-section .carousel {
  margin-top: 0;
}

.carousel-section {
  width: 40rem;
  margin: 0 auto 0;
}

.container-fluid {
  padding: 0 0 0 0;
}

.cr-text {
  margin-top: 10rem;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.main-form a {
  color: #2155cd;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin: 10px 0 10px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .checkbox {
  text-align: left;
}

.img {
  position: relative;
  top: 8.5rem;
  left: 7.5rem;
}
.carousel {
  margin-top: 7rem;
}
.main-form {
  border-radius: 10px;
  margin: 10rem auto 0 auto;
  width: 31rem;
  height: 34rem;
  background-color: #fff;
  text-align: center;
}

.sign-in-img {
  width: 42rem;
  height: 53.6rem;
  background-color: #2155cd;
}

.table-container {
  width: 30rem;
  height: 30rem;
  position: relative;
  top: 10rem;
  left: 50rem;
}
