@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
a.btn {
  color: #fff;
}
.alert {
  position: absolute;
  left: 43%;
  visibility: hidden;
}

.alert-on {
  position: absolute;
  left: 68.5%;
  top: 1.5rem;
  visibility: visible;
}
body {
  font-family: "Noto Sans HK", sans-serif;
  background: #fff;
}
.btn-login {
  margin-top: 5rem;
}
.btn-nav {
  margin: 0 0.5rem 0 0.5rem;
}
.card {
  width: 424px;
}
.card-img-top {
  width: 288px;
}
.card-text {
  font-size: 0.9rem;
}
.card-title {
  font-weight: bold;
}
.checked {
  color: orange;
}
.container-fluid {
  padding: 0 20rem 0 20rem;
}
.content-section {
  margin: 10.5rem 0 10.5rem 0;
}
.display-kos-image {
  margin-top: 5rem;
}
.filter-input {
  width: 11.18125rem;
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
}
.filter-field {
  text-align: center;
  margin-top: 1.5rem;
}
.form-select {
  width: 12rem;
  display: inline-block;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin: 10px 0 10px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .checkbox {
  text-align: left;
}
.form-signin .checkbox {
  font-weight: 400;
}
h3 {
  font-weight: bold;
}
.harga-text {
  font-weight: bold;
}
.hidden-btn {
  display: none;
}
.icon-img {
  margin: 0 auto 0 auto;
  display: block;
}
.kos-field .card-text {
  color: #000;
}
.kos-field {
  height: 1500px;
  margin-top: 3.5rem;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: #2155cd !important;
}
.navbar {
  height: 4rem;
}
.lower-row-galery {
  margin-top: 0.5rem;
}
.secondary-img {
  width: 343px;
}
.section-col {
  margin-right: 0.8rem;
}
.section-heading {
  font-weight: bold;
  margin-top: 1rem;
}
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ff9966;
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
  background: linear-gradient(to bottom, #4872d4, #2155cd);
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.subs-text {
  font-weight: 400;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #2155cd !important;
}
.primary-img {
  width: 700px;
}
.promote-section {
  position: relative;
  left: 15.375rem;
}
.rent-input {
  width: 10rem;
  display: inline-block;
}
.rent-btn {
  display: block;
  margin-top: 1.5rem;
}
.rent-section {
  margin-top: 2rem;
}